.scroll-container {
  animation: scroll-left 18s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 400px) {
  img {
    height: 20px;
    width: 20px;
  }
  a {
    font-size: 0.85rem;
  }
  .stackTitle {
    font-size: 1.2rem;
  }
}
